In [1]:
import numpy as np
import pandas as pd
import sqlite3 as sql
from sklearn.preprocessing import MinMaxScaler
from ipywidgets import interact ## para análisis interactivo
from sklearn import neighbors ### basado en contenido un solo producto consumido
import joblib
#### conectar_base_de_Datos
#!pip install ipywidgets

# CREAR CONEXIÓN CON LA BASE DE DATOS db_movies
con = sql.connect('data/db_movies')

# CREAR EL CURSOR
cur = con.cursor() ## se crea el cursor, que es el otro tipo de conexión para ejecutar las consultas

In [ ]:
db_movies_final= joblib.load('salidas/db_movies_final.joblib')

In [6]:
pd.read_sql('SELECT * FROM full_ratings', con) ## se ejecuta la consulta SQL y se guarda en un dataframe

,movie_id,user_id,movie_rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,movie_title,movie_year
0,1,1,4.0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,Toy Story,1995
1,3,1,4.0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,Grumpier Old Men,1995
2,6,1,4.0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,Heat,1995
3,47,1,5.0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,Seven (a.k.a. Se7en),1995
4,50,1,5.0,0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,"Usual Suspects, The",1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36762,592,609,3.0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,Batman,1989
36763,742,609,3.0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Thinner,1996
36764,786,609,3.0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Eraser,1996
36765,892,609,3.0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,Twelfth Night,1996
36766,1059,609,3.0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,William Shakespeare's Romeo + Juliet,1996

In [5]:
pd.read_sql('SELECT * FROM ratings_final', con) ## se ejecuta la consulta SQL y se guarda en un dataframe

       user_id  movie_id  movie_rating
0            1         1           4.0
1            1         3           4.0
2            1         6           4.0
3            1        47           5.0
4            1        50           5.0
...        ...       ...           ...
36762      609       592           3.0
36763      609       742           3.0
36764      609       786           3.0
36765      609       892           3.0
36766      609      1059           3.0

[36767 rows x 3 columns]

In [2]:
db_movies_final=pd.read_sql('SELECT * FROM full_ratings', con)
db_movies_final

,movie_id,user_id,movie_rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,movie_title,movie_year
0,1,1,4.0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,Toy Story,1995
1,3,1,4.0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,Grumpier Old Men,1995
2,6,1,4.0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,Heat,1995
3,47,1,5.0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,Seven (a.k.a. Se7en),1995
4,50,1,5.0,0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,"Usual Suspects, The",1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36762,592,609,3.0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,Batman,1989
36763,742,609,3.0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Thinner,1996
36764,786,609,3.0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Eraser,1996
36765,892,609,3.0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,Twelfth Night,1996
36766,1059,609,3.0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,William Shakespeare's Romeo + Juliet,1996

In [ ]:
#######################################################################
#### 3 Sistema de recomendación basado en contenido KNN #################
#### Con base en todo lo visto por el usuario #######################
#######################################################################



##### cargar data frame escalado y con dummies ###
#db_movies_final= joblib.load('salidas/db_movies_final.joblib')
db_movies_final=pd.read_sql('SELECT * FROM full_ratings', con)
### carga data frame normal que tiene nombres de libros
movies=pd.read_sql('select * from full_ratings', con )
#books['year_pub']=books.year_pub.astype('int')



#### seleccionar usuario para recomendaciones ####
usuarios=pd.read_sql('select distinct (user_id) as user_id from full_ratings',con)

user_id=31226 ### para ejemplo manual


def recomendar(user_id=list(usuarios['user_id'].value_counts().index)):
    
    ###seleccionar solo los ratings del usuario seleccionado
    ratings = pd.read_sql(f'select * from full_ratings where user_id={user_id}', con)
    
    ###convertir ratings del usuario a array
    l_movie_r=ratings['movie_id'].to_numpy()
    
    ###agregar la columna de isbn y titulo del libro a dummie para filtrar y mostrar nombre
    db_movies_final[['movie_id','movie_title']]=movies[['movie_id','movie_title']]
    
    ### filtrar libros calificados por el usuario
    movie_r=db_movies_final[db_movies_final['movie_id'].isin(l_movie_r)]
    
    ## eliminar columna nombre e isbn
    movie_r=movie_r.drop(columns=['movie_id','movie_title'])
    movie_r["indice"]=1 ### para usar group by y que quede en formato pandas tabla de centroide
    ##centroide o perfil del usuario
    centroide=movie_r.groupby("indice").mean()
    
    
    ### filtrar libros no leídos
    movie_nr=db_movies_final[~db_movies_final['movie_id'].isin(l_movie_r)]
    ## eliminbar nombre e isbn
    movie_nr=movie_nr.drop(columns=['movie_id','movie_title'])
    
    ### entrenar modelo 
    model=neighbors.NearestNeighbors(n_neighbors=15, metric='cosine')
    model.fit(movie_nr)
    dist, idlist = model.kneighbors(centroide)
    
    ids=idlist[0] ### queda en un array anidado, para sacarlo
    recomend_b=movies.loc[ids][['movie_title','movie_id']]
    leidos=movies[movies['movie_id'].isin(l_movie_r)][['movie_title','movie_id']]
    
    return recomend_b


recomendar(609)


print(interact(recomendar))

In [7]:
import pandas as pd
from sklearn import neighbors

# Cargar todos los datos una sola vez desde full_ratings
df_full = pd.read_sql('SELECT * FROM full_ratings', con)

# Verificar que las columnas clave existan
assert {'movie_id', 'movie_title', 'user_id'}.issubset(df_full.columns), "Faltan columnas clave."

# Seleccionar las columnas numéricas para el modelo
feature_cols = df_full.drop(columns=['movie_id', 'movie_title', 'user_id']).columns


def recomendar(user_id, n_recomendaciones=10):
    # Filtrar los libros calificados por el usuario
    ratings_user = df_full[df_full['user_id'] == user_id]
    
    if ratings_user.empty:
        print(f"⚠️ El usuario {user_id} no tiene registros.")
        return pd.DataFrame()
    
    rated_ids = ratings_user['movie_id'].unique()
    
    # Crear el centroide del usuario (perfil)
    df_rated = ratings_user[feature_cols].copy()
    if df_rated.empty:
        print(f"⚠️ El usuario {user_id} no tiene datos numéricos válidos para calcular recomendaciones.")
        return pd.DataFrame()
    
    perfil_usuario = df_rated.mean().to_frame().T
    
    # Filtrar libros no calificados
    df_no_rated = df_full[~df_full['movie_id'].isin(rated_ids)].drop_duplicates('movie_id')
    X_no_rated = df_no_rated[feature_cols]
    
    # Entrenar modelo KNN
    model = neighbors.NearestNeighbors(n_neighbors=n_recomendaciones, metric='cosine')
    model.fit(X_no_rated)
    
    # Buscar los libros más cercanos al perfil del usuario
    distancias, indices = model.kneighbors(perfil_usuario)
    
    # Recuperar información de los libros recomendados
    recomendados = df_no_rated.iloc[indices[0]][['movie_id', 'movie_title']].copy()
    recomendados['distancia'] = distancias[0]
    
    return recomendados.sort_values(by='distancia')
# Ejemplo de uso
recomendar(609, n_recomendaciones=10)

       movie_id        movie_title     distancia
2860     112290            Boyhood  1.179971e-07
1780     102407  Great Gatsby, The  1.181450e-07
1262      81932       Fighter, The  1.185946e-07
1255      64839      Wrestler, The  1.188991e-07
564        8958                Ray  1.195197e-07
570       30812       Aviator, The  1.195197e-07
13014      3998      Proof of Life  1.201561e-07
3099       3969     Pay It Forward  1.201561e-07
992        4022          Cast Away  1.201561e-07
4730       3534            28 Days  1.201561e-07

In [14]:
df_full

,movie_id,user_id,movie_rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,movie_title,movie_year
0,1,1,4.0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,Toy Story,1995
1,3,1,4.0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,Grumpier Old Men,1995
2,6,1,4.0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,Heat,1995
3,47,1,5.0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,Seven (a.k.a. Se7en),1995
4,50,1,5.0,0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,"Usual Suspects, The",1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36762,592,609,3.0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,Batman,1989
36763,742,609,3.0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Thinner,1996
36764,786,609,3.0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,Eraser,1996
36765,892,609,3.0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,Twelfth Night,1996
36766,1059,609,3.0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,William Shakespeare's Romeo + Juliet,1996

In [16]:
# Cargar todos los datos una sola vez desde full_ratings
df_full = pd.read_sql('SELECT * FROM full_ratings', con)

# Seleccionar las columnas numéricas para el modelo
feature_cols = df_full.drop(columns=['movie_id', 'movie_title', 'user_id']).columns

def recomendar_genero(user_id, genero_favorito, n_recomendaciones=10):
    # Filtrar los libros calificados por el usuario
    ratings_user = df_full[df_full['user_id'] == user_id]
    
    if ratings_user.empty:
        print(f"⚠️ El usuario {user_id} no tiene registros.")
        return pd.DataFrame()
    
    rated_ids = ratings_user['movie_id'].unique()
    
    # Crear perfil del usuario
    df_rated = ratings_user[feature_cols].copy()
    perfil_usuario = df_rated.mean().to_frame().T

    # Filtrar libros no calificados y del género favorito
    col_genero = genero_favorito
    df_no_rated = df_full[
        (~df_full['movie_id'].isin(rated_ids)) & 
        (df_full[col_genero] == 1)
    ].drop_duplicates('movie_id')
    
    if df_no_rated.empty:
        print(f"⚠️ No hay libros/películas del género '{genero_favorito}' sin calificar por este usuario.")
        return pd.DataFrame()

    X_no_rated = df_no_rated[feature_cols]
    
    # KNN
    model = neighbors.NearestNeighbors(n_neighbors=min(n_recomendaciones, len(X_no_rated)), metric='cosine')
    model.fit(X_no_rated)
    
    distancias, indices = model.kneighbors(perfil_usuario)
    
    recomendados = df_no_rated.iloc[indices[0]][['movie_id', 'movie_title']].copy()
    recomendados['distancia'] = distancias[0]
    
    return recomendados.sort_values(by='distancia')
# Ejemplo de uso
recomendar_genero(609, 'Action', n_recomendaciones=10)

       movie_id                movie_title     distancia
8457       2412                    Rocky V  1.457421e-07
5416       2411                   Rocky IV  1.466524e-07
4935       2410                  Rocky III  1.474143e-07
1009       7438          Kill Bill: Vol. 2  1.492610e-07
805        1385                Under Siege  1.504537e-07
7454      60072                     Wanted  1.543838e-07
1121       2490                    Payback  1.547003e-07
817        1687                Jackal, The  1.547786e-07
808        1438               Dante's Peak  1.547786e-07
10079       839  Crow: City of Angels, The  1.548188e-07

In [12]:
import ipywidgets as widgets
from IPython.display import display

In [18]:
# Detectar automáticamente todas las columnas dummy de géneros (suponiendo que no son 'movie_id', 'user_id', etc.)
columnas_excluir = {'movie_id', 'movie_title', 'user_id', 'movie_rating','movie_title','movie_year'}  # agrega más si es necesario
genre_cols = [col for col in df_full.columns if col not in columnas_excluir and df_full[col].dropna().isin([0, 1]).all()]

# Dropdown interactivo con todos los géneros detectados
dropdown_genero = widgets.Dropdown(
    options=genre_cols,
    description='Género:',
    layout=widgets.Layout(width='300px')
)

def recomendar_con_genero(user_id, genero, n_recomendaciones=10):
    ratings_user = df_full[df_full['user_id'] == user_id]
    if ratings_user.empty:
        return pd.DataFrame({'mensaje': [f'⚠️ Usuario {user_id} sin registros.']})

    rated_ids = ratings_user['movie_id'].unique()
    df_rated = ratings_user[feature_cols].copy()
    df_rated['dummy'] = 1
    perfil = df_rated.groupby('dummy').mean()  # Aquí ya no hace falta eliminar 'dummy'

    # Filtrar solo películas no vistas y que pertenezcan al género seleccionado
    df_no_rated = df_full[(~df_full['movie_id'].isin(rated_ids)) & (df_full[genero] == 1)]
    df_no_rated = df_no_rated.drop_duplicates('movie_id')
    X_no_rated = df_no_rated[feature_cols]

    if X_no_rated.empty:
        return pd.DataFrame({'mensaje': [f'⚠️ No hay películas del género {genero} para recomendar.']})

    model = neighbors.NearestNeighbors(n_neighbors=n_recomendaciones, metric='cosine')
    model.fit(X_no_rated)
    dist, idx = model.kneighbors(perfil)  # <- Línea corregida

    recs = df_no_rated.iloc[idx[0]][['movie_title', 'movie_id']].copy()
    recs['distancia'] = dist[0]
    return recs.sort_values(by='distancia')

def mostrar_recomendaciones(genero):
    display(recomendar_con_genero(user_id=609, genero=genero))

# Crear el widget interactivo
widgets.interact(mostrar_recomendaciones, genero=dropdown_genero)

interactive(children=(Dropdown(description='Género:', layout=Layout(width='300px'), options=('Action', 'Advent…